#number {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

.num {
  width: calc(100% / 10);
  max-width: calc(100% / 10);
  text-align: center;
  vertical-align: middle;
  line-height: 50px;
  background-color: red;
}

.fizz {
  width: calc(100% / 10);
  max-width: calc(100% / 10);
  text-align: center;
  vertical-align: middle;
  line-height: 50px;
  background-color: aqua;
}

.buzz {
  width: calc(100% / 10);
  max-width: calc(100% / 10);
  text-align: center;
  vertical-align: middle;
  line-height: 50px;
  background-color: greenyellow;
}

.fizzbuz {
  width: calc(100% / 10);
  max-width: calc(100% / 10);
  text-align: center;
  vertical-align: middle;
  line-height: 50px;
  background-color: pink;
}
